@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}


/* Shares Style */

#color{
    color: rgba(255, 144, 14, 1);
}

.display-flex{
    display: flex;
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;

}

/* Dark 2 */
.text-gray{
    color: #424242;
}

/* Dark 3 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.section-title{
    font-size: 45px;
    font-weight: 500px;
}


/* Header style */

/* NavBar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    text-decoration: none;
   
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-size: 45px;
    font-weight: bold;
}


/* Banner related styles */
.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    font-size: 16px;
    font-weight: 500;
}

.banner-img{
    width: 100%;
}


/* Main */
main{
     max-width: 1440px;
    margin: 0 auto;
}
main > section{
   
    margin-top: 130px;
}

/* Team and Features related Styles */

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.teams{
    align-items: center;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}


.feature-description{
    font-size: 16px;
    font-weight: 500px;
}

/* some Fact realted styles */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.facts-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

.fact-description{
    max-width: 540px;
}

/* Sponsor related styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}


/* responsive Media Query */

@media screen and (max-width: 776px) {
    .navbar,
    .nav-links,
    .teams,
    .our-sponsor{
        flex-direction: column;
    }
    
    .team-img-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: 1fr;
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }

    .our-features{
        margin-left: 10px;
    } 

    .sponsor-companies{
        justify-items: center;
        gap: 50px;

    }
}

/* Medium size device */

@media screen and (min-width: 578px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    
    .our-features{
        margin: 20px auto;
    }

    .sponsor-companies, .facts-container{
         grid-template-columns: repeat(2, 1fr);
         gap: 50px;
         justify-items: center;

    }
    
}